<section id="addmember" class="container">
    <div class="form-wrap">
      <h1>Add A member</h1>
      <p>Your contact email will be shared with registered users to apply to your gig</p>
      {{#each errors}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}
      <form action="/members/addmember" method="POST">
        <div class="input-group">
          <label for="name">name</label>
          <input type="text" name="name" id="name" class="input-box" placeholder=" "
            maxlength="100">
        </div>
        <div class="input-group">
          <label for="name">upload your image</label>
              <input type="file" id="image" name="image"maxlength="100">
        </div>

        <div class="input-group">
          <label for="sex">sex</label>
          <input type="text" name="sex" id="sex" class="input-box" placeholder=""
          maxlength="100">
        </div>
          
       
  
        <input type="submit" value="Add a member" class="btn btn-reverse">
      </form>
    </div>
  </section>