<section id="members" class="container">
  <h1 style="text-align: center;">Member list</h1>

  {{#each members}}
  <form action="/members/deletemember/{{this.dataValues.id}}" method="POST">

    <div id="heading" class="member ">
      {{!-- <h3>{{this.dataValues.title}}<br><br>

      </h3> --}}
      <a href="/members/memberedit/{{this.dataValues.id}}" <i class='fas fa-pencil-alt'
        style='font-size:20px;float:right'>edit</i></a> <button>DELETE</button>

      <div class="tech">
        <small>name: <span>{{this.dataValues.name}}</span></small>
      </div>

      <div class="tech">
        <small>image: <span>{{this.dataValues.image}}</span></small>
      </div>
      <div class="tech">
        <small>sex: <span>{{this.dataValues.sex}}</span></small>
      </div>
</div>
  </form>
  {{else}}
  <p>No members available</p>

  {{/each}}

</section>
<script>

</script>